<%- for attribute in attributes -%>
<%- if ActionView::Base.default_form_builder.to_s == "WebSgFormBuilder" -%>
<%%= f.<%= attribute.field_type %> :<%= attribute.name %>, :label => "<%= attribute.column.human_name %>:" %>
<%- else -%>
<p>
  <label for="<%= singular_name %>_<%= attribute.name %>"><%= attribute.column.human_name %>:</label>
  <%%= f.<%= attribute.field_type %> :<%= attribute.name %> %>
</p>
<%- end -%>
<% end -%>